/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  padding: 0;
  margin: 0;
}
body {
  background: -moz-linear-gradient(top, #404040, #262626);
  background: -webkit-linear-gradient(top, #404040, #262626);
  background: linear-gradient(to bottom, #404040, #262626);
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed; 
  margin: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif, 'Noto Sans JP';
}
h1, h2, h3 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
}
header {
  background-color: rgba(1, 13, 17, 0.5);
  height: 80px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;        
  left: 0;       
  width: 100%;   
  
}
.overlay-image {
  position: absolute;
  top: 20px;
  right: 20px;
}  
header a {
  color: white; 
  text-decoration: none; 
}
header h1 {
  color: white;
  margin-left: 20px;
}
.header-list {
  display: flex;
  align-items: center;
}
header ul {
  display: flex;
  margin-left: 915px;
}
header li {
  font-size: larger;
  list-style: none;
  margin-right: 40px;
}
footer {
  color: white;
  height: 30px;
  background-color: #000;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: flex-end;
}
main {
  padding-top: 80px; 
}
main li{
  color: antiquewhite;
}