.post-container {
  margin: 50px auto;
  width: 50%;
  border: solid #d3def1;
  border-radius: 10px;
  text-align: center;
  background-color: #123f8c;
}
.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
}
input[type="text"] {
  width: 95%;
  height: 40px;
}
input[type="area"] {
  width: 95%;
  height: 40px;
}
input[type="submit"] {
  width: 200px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.main {
  padding-top: 80px; /* ヘッダーの高さに合わせて調整 */
}
